.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0px;
  }
  
  .modal {
    background-color: slategrey;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    justify-content: space-around;
  }
  
  .close-modal {
    text-align: right;
  }